
@{
    ViewData["Title"] = "Loss Types";
}
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/datatables/datatables.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/datatables/datatables.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/LossTypeTable.js"></script>

<div class="d-flex justify-content-between mt-3">
    <h4><strong>Loss Type</strong></h4>
</div>
<br>


<table id="table" class="table table-striped table-bordered table-sm text-center" cellspacing="0"
       width="100%">
    <thead>
        <tr>
            <th class="text-center">
                Loss Type ID

            </th>
            <th class="text-center">
                Loss Type Code

            </th>
            <th class="text-center">
                Loss Type Description
            </th>
        </tr>
    </thead>


</table>